h1,h2 {
    color: #3365A5
    ;}

.contenedor1 {
    
    display: flex;
    flex-direction: column;
    align-items: left;
    max-width: 700px;
    justify-content: left;
    position: static;
    margin-left: 700px;
    background-color: hsl(0, 23%, 97%);
    font-family: 'Open Sans', sans-serif;
    border-radius: 10px;
    border-style:ridge;
}

.contenedor2 {
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: left;
    max-width: 475px;
    position:absolute;
    margin-left: 200px;
    background-color: #e0dfdf;
    border-radius: 10px;
    font-family: 'Open Sans', sans-serif;

    border-style:ridge;
  
    
    }
.pie {
    position: fixed; 
    bottom:0; 
    sz-index:999999;
    font-family: 'Open Sans', sans-serif;
    margin-left: 700px ;
}
.encabezado1 {
    display: fixed;
    flex-direction: column;
    align-items: left;
    justify-content: left;
    max-width: 450px;
    position:absolute;

    margin-left: 700px;
    font-size: 110%;
    font-family: 'Open Sans', sans-serif;
    
}
.foto {
    margin-left: 200px;
    
    
    
} 
.descarga {

    margin-left: 700px;
    background-color: #95c9fa;
    border-radius: 10px;
    border-style:ridge;
    max-width: 700px;
    font-family: 'Open Sans', sans-serif;
    text-align: center;
}
.tilde {
    list-style-image:url(check-solid.svg)
}
.personales {
    margin-left: 0px;
    border-style:ridge;
    max-width: 100px
    border-radius: 10px;
    background-color: #95c9fa;
}