
h1 {
font-family:  sans-serif;
font-style: oblique;
color: rgb(106, 68, 177);
}
p {
    font-family: sans-serif;
    color: #000000;
    max-width: 100%;
}
h1 {
    pantalla : inline-block ;
    font-family: sans-serif;
     font-size: 40px;
}
h3 {
    
    border-bottom-style: solid;
    max-width: 400px;
    text-align: left;
    border-color: rgb(106, 68, 177);;
     ;
}
*{
    
    font-family: sans-serif;
    
}

.fotoperfil{
    display: inline-flex;
  ;
}
figure {
    border-radius: 100%;
    width: 200px;
    overflow: hidden;
}
.link {
    background-color: aqua; 
    display: block;
}
.contenedor1  {
    font-size: 20px;
    margin: 15PX;
    padding: 15px;
    font-family: sans-serif;
    
    display: flex;
}
.contenedor2 {
    display: inline ;
    width: 50%;
}
.contenedor3 {

    width: 50%;
    display: inline;
}
.contenedor4  {
    tamaño de fuente : 20px ;
    margin: 15PX;
    padding: 15px;
    font-family: sans-serif;
        display: flex;
    }
.contenedor5 {
        display: inline ;
        width: 50%;
    }
.contenedor6 {
        width: 50%;
        display: inline;
    
}
.tilde  {
    list-style-image:url(check-double-solid.svg);
    font-size: 20px;
    
    
}
a:link, a:visited {
    color: hsl(0, 0%, 0%);
}
.descarga {
    margin-top: 50px;
   text-align: center;
    margin-bottom: 50px;
    padding-bottom: 50px;
}
@media screen and (max-width: 640px) {
    .contenedor1 {
      display: block;
    } 
    .contenedor4 {
        display: block;
      } 
      h1 {
        text-align: center;
      }
      .fotoperfil {
        display: flex;
        text-align: center;
      }
   } 
    
Footer
© 2023 GitHub, Inc.
Footer navigation
Terms
Privacy
Security
Status
Docs
Contact GitHub
Pricing
API
Training
Blog
About
